.App {
    text-align: center;
    background-color: #FFFFFF;
    /* padding: 50px; */
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
}

.Clues {
    text-align: left;
    background-color: #FFFFFF;
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: black;
}

.line-center{
    margin:0;padding:0 10px;
    background:#fff;
    display:inline-block;
}
h2{

    text-align:center;
    position:relative;
    z-index:2;

}
h2:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 2px black;
    z-index:-1;
}

.legend-td{
    padding-left:10px;
}

.legend-td2{
    padding-left:25px;
}

.legend-tr{
    margin-bottom:100px;
}

.clue {
    font-size: 20px;
    color: #003399;
}

.verticalLine {
    border-right: thick solid #000000;
}

.clue-used{
    border-style: solid;
    border-width: medium;
    border-color:red;
    font-size: 16px;
}
.clue-unused{
    border-style: solid;
    border-width: medium;
    border-color:white;
    font-size: 16px;
}

.red-rectangle{
    color : #FF6600;
}

.blue-rectangle{
    color : #003399;
}

.red-full-rectangle{
    width:25px;
    height:25px;
    background : #FF6600;
    border-style: dashed;
    border-width: thin;
    border-color:black;
}
.blue-full-rectangle{
    width:25px;
    height:25px;
    background : #003399; 
    border-style: dashed;
    border-width: thin;
    border-color:black;
}
.black-empty-rectangle{
    width:25px;
    height:25px;
    text-align: center;
    border-style: dashed;
    border-width: thin;
    border-color:black;
}

.orange-text-color{
    color: #FF6600;
}
