.button-step{
    height:50px;
    width:140px;
    font-size : 14px;
}

.button-step2{
    height:50px;
    width:110px;
    font-size : 14px;
}

.button-step3{
    height:50px;
    width:80px;
    font-size : 14px;
}

.button-step4{
    height:50px;
    width:160px;
    font-size : 14px;
}

.div-centered-hv{
    margin:auto;
    text-align:center;
}

.button-tag{
    height:20px;
    font-size : 14px;
}


.puzzle-text{
    font-size : 16px;
}

.centered-div{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.centered-text{
    text-align:center;
}
.HiddenBox{
    display: none;
}

.padding-before-clue{
    padding-top: 20px;
}

.padding-before-after{
    padding-left: 22px;
    padding-right: 22px;
}


.BoxInfoText2{
    display: none;
    padding: 30px;
}

.thick-text{
    font-weight: bold;
}

.grey-text{
    font-size: 20px;
    font-weight: bold;
    color: #868e96;
}

.BoxInfoText3-Header{
    padding-left: 40px; 
    padding-top: 10px;
    /* width: 50%; */
  /* margin: auto; */

}

.BoxInfoText3{
    padding-left: 50px; 
    padding-top: 10px;
    /* width: 50%; */
  /* margin: auto; */

}

.td-clues-tags{
    text-align: center; 
    width:50px;
}


.td-entities{
    text-align: left; 
    padding-left: 20px; 
}
.padding-top{
    padding-top: 10px;
}
.removed-space{
    padding-top:-20px;
}
.centered-div2{
    margin:  0 auto;
}

.myFont{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
