.button-step{
    height:50px;
    width:150px;
    font-size : 14px;
}

.centered-div{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.BoxInfoText{

}
.BoxInfoText2{
    display: none;
}

.td-clues-tags{
    text-align: center; 
    width:50px;
}